version: '3'

services:
  platform-api:
    container_name: platform-api
    image: ghyro/platform:latest
    ports:
      - 8080:80
    links:
      - platform-ms-sql
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - SQL_CONNECTION_STR=Server=tcp:platform-ms-sql,1433;Initial Catalog=PlatformManager;Persist Security Info=False;User ID=SA;Password=Test-12345;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;

  platform-ms-sql:
    container_name: platform-ms-sql
    image: mcr.microsoft.com/mssql/server:latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Test-12345
    ports:
      - 1433:1433  
